.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: 1px solid black ;
    border-radius: 5px;
    margin: 8px 8px;
    padding: 8px 8px;
}