.searchsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 8px;
    position: relative;
}
.searchbtn {
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0 6px;
    color: white;
    background-color: rgb(56, 55, 55);
}
