.searchsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 8px 16px 8px;
}
.searchinput{
    min-width: 270px;
    padding: 6px;
    border-radius: 5px;
}
.searchbtn {
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0 6px;
    color: rgb(56, 55, 55);
    background-color: white ;
}
